@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
  height: 100%;
  width: 100%;
}

.carousel-caption{
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.signature{
  font-family: 'Lobster', cursive;
  font-size: 5em;
}

.sub-signature{
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight:900;
}

.nav-signature{
  font-family: 'Open Sans', sans-serif;
  font-size:2em;
  font-weight:900;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}